{{- define "main" }}

<header class="page-header">
<head>

</head>
<body>
    <h1>Contact Us</h1>
    <br>
    <p>
    Email Aamir at 
    <a href="mailto:amazad15@hasdtigers.com"target="_blank"><u>amazad15@hasdtigers.com </u></a>
    or email Michael at 
    <a href="mailto:mawaibelmaharaj00@hasdtigers.com"target="_blank"><u>mawaibelmaharaj00@hasdtigers.com </u></a>
    or email Issac at 
    <a href="mailto:ibwatt83@hasdtigers.com"target="_blank"><u>ibwatt83@hasdtigers.com </u></a>
    </p>
</body>
</header>

{{- end }}{{/* end main */}}
